.filter_section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  margin-top: 20px;

  .searchbar {
    font-size: 23px;
    font-weight: 500;
    input {
      height: 22px;
      width: 200px;
    }
  }
 
  .dropdowns {

   .dropdown {
     height: 28px;
     font-weight: 500;
     font-size: 20px;
     padding-right: 15px;
   }
  }

  .btn {
    height: 28px;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(31, 49, 133);
    color: white; 
  }
}