.jobViewerContainer {
  display: flex;
  height: 100%;
  width: 100%;

  .jobViewSection {
    width: 100%;
    background-color: #edeff891;

    hr {
      margin: 16px 0px;
    }
  }
}

.job_table {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 50px;
 
 a {
   padding-left: 10px;
 }
  table {
    width: 80%;

  }
  table, th,td {
    border: 1px solid black;
  }
  
}