.jobsContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 200px;
  width: 400px;
  margin:  54px 50px;
  box-shadow: 0px 0px 6px rgb(98, 100, 107);
  border-radius: 3px;
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
  }
  .preview {
    margin: 30px 30px;

    h5 {

    }

    p {
      background-color: rgba(70, 66, 66, .1 );
    }
  }

}