.job_form_container {
  display: flex;
  height: 100%;

  background-color: #edeff891;

  .left_panel {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-right: 1px solid rgb(31, 49, 133);
    background-color: #edeff891;

  }
  .right_panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    background-color:rgba(31, 49, 133, .92);
    color: white;
    
    .form_container {
      text-align: center;
      min-width: 425px;
    
      .label {
        text-align: left;
        padding-left: 56px;
      }
      .jobFormInput {
        padding-top: 20px;
        
        input {
          width:300px;
          padding: 6px 6px;
          border-radius: 3px;
          box-shadow: 0px 0px 4px rgb(98, 100, 107);
          outline: none;
        }
      }
      .checkbox_input {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .checkbox_1 {
          font-size: 25px;    
        }
        .checkbox_2 {
          font-size: 25px;
        }
      }
      
      .file_input_container {
       padding: 20px 0;

       .file_input {
         display: none;
       }
      }
    }
        .btn_container {
          display: flex;
          justify-content: space-between;
          padding-top: 20px;
        
          .cancel_btn {
            height: 30px;
            width: 80px;
            box-shadow: 0px 0px 4px rgb(98, 100, 107);
          }
          .submit_btn {
            height: 30px;
            width: 80px;
            box-shadow: 0px 0px 4px rgb(98, 100, 107);
          }
        }
    .logo_job_form {
      color: white
    }
  }

}



