.filter_section {
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 20px;

  .dropdown_container {
    display: flex;

    .dropdown_date {
      padding-right: 50px;
    }
    
    .filter_dropdown {
    border-radius: 8px;
     height: 28px;
     font-weight: 500;
     font-size: 20px;
     padding: 0px 20px;

   }
  }

  .filter_btn {
    height: 28px;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(31, 49, 133);
    color: white; 
  }
}