@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

.navbar {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #edeff891;
  
  .logo {
    font-size: 42px;
    color: rgb(31, 49, 133);
    padding-left: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
  }

  .navLinks {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .signin {
      font-size: 20px;
      text-decoration: none;
      padding: 0 30px;
      color: rgb(31, 49, 133);
      
    }
  }
}