@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

.sideContainer {
  display: flex;
  flex-direction: column;
  width: 275px;
  height:100vh;

  background-color: white;
  box-shadow: 0px 0px 6px rgb(98, 100, 107);

  .userSection {
    display: flex;

    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    
    img {
      border-radius: 50%;
      height: 55px;
    }
    .username {
      padding-left: 15px;
    }
    
    .faAngleDown {


      padding-left: 8px;
      margin-top: 5px;
    }

    .dropdownContainer {
      width: 200px;
      height: 100px;
      background-color: rgb(31, 49, 133);
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      border-radius: 8px;
      box-shadow: 0px 0px 6px rgb(98, 100, 107);
      justify-content: center;
      align-items: center;
 
      
      hr {
        width: 85%;
        margin: 0 10px;
      }
      a {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        color: dimgray;
        padding: 10px 10px;
        color: white;
      }
    }
  }

  .lowerSidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
    .menuSection {
      display: flex;
      flex-direction: column;
      
      .btn {
        display: flex;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 800;
        max-width: 100%;
        height: 40px;
        background-color: white;
        border: 0px white;
        margin-bottom: 3px;
        color: dimgrey;
        outline: none;
        text-decoration: none;
        .icons {
          text-align: left;
          padding-left: 20px;
          max-width: 100%;
        }
        span{
          text-align: left;
          padding-left: 20px;
        }
    }
    .btn:hover,.btn:focus{
      box-shadow: 0px 0px 6px rgb(31, 49, 133);
      color: rgb(31, 49, 133);
      border-left: 8px solid rgb(31, 49, 133);
    }

  }
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    font-weight: 800;
    color: rgb(31, 49, 133);
  }
}
  
}