@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
.navbar {
  height: 75px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #edeff891;
}

.navbar .logo {
  font-size: 42px;
  color: #1f3185;
  padding-left: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.navbar .navLinks {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navLinks .signin {
  font-size: 20px;
  text-decoration: none;
  padding: 0 30px;
  color: #1f3185;
}

.filter_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin-top: 20px;
}

.filter_section .dropdown_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter_section .dropdown_container .dropdown_date {
  padding-right: 50px;
}

.filter_section .dropdown_container .filter_dropdown {
  border-radius: 8px;
  height: 28px;
  font-weight: 500;
  font-size: 20px;
  padding: 0px 20px;
}

.filter_section .filter_btn {
  height: 28px;
  font-size: 20px;
  font-weight: 500;
  background-color: #1f3185;
  color: white;
}

.jobViewerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.jobViewerContainer .jobViewSection {
  width: 100%;
  background-color: #edeff891;
}

.jobViewerContainer .jobViewSection hr {
  margin: 16px 0px;
}

.jobViewerContainer .job_table_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sideContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 275px;
  height: 100vh;
  background-color: white;
  -webkit-box-shadow: 0px 0px 6px #62646b;
          box-shadow: 0px 0px 6px #62646b;
}

.sideContainer .userSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.sideContainer .userSection img {
  border-radius: 8%;
  height: 55px;
}

.sideContainer .userSection .username {
  padding-left: 15px;
}

.sideContainer .userSection .faAngleDown {
  padding-left: 8px;
  margin-top: 5px;
}

.sideContainer .userSection .dropdownContainer {
  width: 200px;
  height: 100px;
  background-color: #1f3185;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 6px #62646b;
          box-shadow: 0px 0px 6px #62646b;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideContainer .userSection .dropdownContainer hr {
  width: 85%;
  margin: 0 10px;
}

.sideContainer .userSection .dropdownContainer a {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: dimgray;
  padding: 10px 10px;
  color: white;
}

.sideContainer .lowerSidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-top: 10px;
}

.sideContainer .lowerSidebar .menuSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sideContainer .lowerSidebar .menuSection .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 800;
  max-width: 100%;
  height: 40px;
  background-color: white;
  border: 0px white;
  margin-bottom: 3px;
  color: dimgrey;
  outline: none;
  text-decoration: none;
}

.sideContainer .lowerSidebar .menuSection .btn .icons {
  text-align: left;
  padding-left: 20px;
  max-width: 100%;
}

.sideContainer .lowerSidebar .menuSection .btn span {
  text-align: left;
  padding-left: 20px;
}

.sideContainer .lowerSidebar .menuSection .btn:hover, .sideContainer .lowerSidebar .menuSection .btn:focus {
  -webkit-box-shadow: 0px 0px 6px #1f3185;
          box-shadow: 0px 0px 6px #1f3185;
  color: #1f3185;
  border-left: 8px solid #1f3185;
}

.sideContainer .lowerSidebar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
  font-weight: 600;
  color: #1f3185;
}

.dashContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.dashContainer .dashboard {
  width: 100%;
  background-color: #edeff891;
}

.dashContainer .dashboard .dashModulesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jobsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 200px;
  width: 410px;
  margin: 54px 50px;
  -webkit-box-shadow: 0px 0px 4px #62646b;
          box-shadow: 0px 0px 4px #62646b;
  border-radius: 3px;
}

.jobsContainer .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 30px;
}

.jobsContainer .header span {
  font-weight: 700;
}

.jobsContainer .header .faPlusCircle {
  padding-right: 8px;
}

.jobsContainer .header .addJobLink {
  color: green;
  font-weight: 600;
}

.jobsContainer .preview {
  margin: 15px 30px;
}

.jobsContainer .preview .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

.jobsContainer .preview .info .numOfJobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jobsContainer .preview .info .numOfJobs span {
  color: green;
  font-weight: 700;
}

.jobsContainer .preview .info .numOfJobs p {
  background: none;
  font-weight: 700;
  color: grey;
  font-size: 14px;
}

.jobsContainer .preview .jobPreview {
  background-color: rgba(28, 69, 165, 0.1);
  padding: 20px 20px;
}

.jobsContainer .preview .jobPreview .date {
  padding-bottom: 10px;
  color: grey;
  font-weight: 600;
}

.schedulerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 200px;
  width: 410px;
  margin: 54px 50px;
  -webkit-box-shadow: 0px 0px 4px #62646b;
          box-shadow: 0px 0px 4px #62646b;
  border-radius: 3px;
}

.schedulerContainer .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 30px;
}

.schedulerContainer .header span {
  font-weight: 700;
}

.schedulerContainer .header .faPlusCircle {
  padding-right: 8px;
  color: green;
}

.schedulerContainer .preview {
  margin: 15px 30px;
}

.schedulerContainer .schedulePreview {
  background-color: rgba(28, 69, 165, 0.1);
  padding: 20px 20px;
}

.schedulerContainer .schedulePreview .date {
  padding-bottom: 10px;
  color: grey;
  font-weight: 600;
}

.logo_signin {
  color: #1f3185;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.signIn_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: dimgray;
  margin: 18px 18px;
}

.signIn_content .window_close_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-size: 25px;
}

.signIn_content .window_close_icon:hover {
  color: red;
}

.signIn_content .welcome {
  font-size: 25px;
}

.signIn_content .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  font-size: 15px;
}

.signIn_content .email input {
  padding: 7px 7px;
}

.signIn_content .password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  font-size: 15px;
}

.signIn_content .password .password_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signIn_content .password .forgot_pass {
  font-weight: 700;
  font-size: 13px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #1f3185;
  text-decoration: none;
}

.signIn_content .password input {
  padding: 7px 7px;
}

.signIn_content .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.signIn_content .checkbox label {
  padding-left: 10px;
  font-size: 15px;
}

.signIn_content .signIn_btn {
  padding: 7px 7px;
  background-color: #1f3185;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.searchBar_container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.searchBar_container .searchBar_content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  border-radius: 8px;
  border: 1px #1f3185;
  -webkit-box-shadow: 0px 0px 4px #62646b;
          box-shadow: 0px 0px 4px #62646b;
}

.searchBar_container .searchBar_content form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.searchBar_container .searchBar_content form input {
  padding: 10px 10px;
  width: 200px;
  border: none;
  outline: none;
}

.searchBar_container .searchBar_content form input::-webkit-input-placeholder {
  padding-left: 20px;
  font-size: 17px;
}

.searchBar_container .searchBar_content form input:-ms-input-placeholder {
  padding-left: 20px;
  font-size: 17px;
}

.searchBar_container .searchBar_content form input::-ms-input-placeholder {
  padding-left: 20px;
  font-size: 17px;
}

.searchBar_container .searchBar_content form input::placeholder {
  padding-left: 20px;
  font-size: 17px;
}

.searchBar_container .searchBar_content form .search_btn {
  text-decoration: none;
  background-color: #1f3185;
  color: white;
  font-size: 17px;
}

.searchBar_container .searchBar {
  width: 100%;
}

.searchBar_container .searchBar .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  padding: 0.5rem;
  color: dimgray;
}

* {
  margin: 0 0;
}
/*# sourceMappingURL=style.css.map */